name: $(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - main
pr: none

resources:
  repositories:
    - repository: templates
      type: github
      name: microsoft/vscode-engineering
      ref: main
      endpoint: Monaco

parameters:
  - name: publishExtension
    displayName: ï¿½ Publish Extension
    type: boolean
    default: false

extends:
  template: azure-pipelines/extension/stable.yml@templates
  parameters:
    ghCreateRelease: true
    ghReleaseAddChangeLog: true
    buildSteps:
      - script: yarn install --frozen-lockfile
        displayName: Install dependencies
      - script: yarn lint
        displayName: Static analysis
      - script: yarn package
        displayName: Compile extension
    tsa:
      config:
        areaPath: 'Visual Studio Code Web Extensions'
        serviceTreeID: '1788a767-5861-45fb-973b-c686b67c5541'
      enabled: true
    publishExtension: ${{ parameters.publishExtension }}
